/* ==========================================================================

   Author's custom styles

   ========================================================================== */

@font-face {
    font-family: 'Cooper Hewitt Book';
    src: url('../fonts/CooperHewitt-Book.woff2') format('woff2'), url('../fonts/CooperHewitt-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*
 * @import 'flexvideo.css';
* {
    margin: 0;
    padding: 0;
}
*/

body {
    color: #000;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.4;
    height: 100%;
    font-weight: 400;
}

img {
    /* border: 1px solid #ddd;
     padding: 6px; */
}


/* PART 1 - Before Lazy Load */

img[data-lazyloaded] {
    opacity: 0;
}

#mycarousel img[data-lazyloaded] {
    opacity: 1;
}


/* PART 2 - Upon Lazy Load */

img.litespeed-loaded {
    -webkit-transition: opacity .5s linear 0.2s;
    -moz-transition: opacity .5s linear 0.2s;
    transition: opacity .5s linear 0.2s;
    opacity: 1;
}

.active {
    font-weight: bold;
}

h2 {
    /*font-size: 2.5rem;*/
    padding-bottom: 20px;
    /*font-family: Verdana,Geneva,sans-serif;*/
}

h5 {
    font-size: 10px;
}

img.aligncenter {
    display: block;
    margin: 0 auto;
}

h4,
.h4 {
    font-size: 86%;
}

.aligncenter {
    margin: 0 auto;
}

.home-next-articles,
.home-previous-articles {
    position: relative;
    left: -53px;
    top: -34px;
}

.top-ads {
    height: auto;
    min-height: 0;
    background-color: #000;
}

li h4 {
    font-size: 86%;
}

.li-styled {
    /*border-bottom: 1px solid #ccc;*/
    padding: 6px 0;
    font-size: 0.8em;
}


/*header[role=banner] a {
    background-color: #222 !important;
    color: #fff !important;
    text-decoration: none !important;

}*/

.centre {
    background: #fff none repeat scroll 0 0;
    margin: -8px 50px 0;
    padding-top: 10px;
}

.centre-front {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
}

.site-title-heading h1 {
    background-color: #333;
    color: #fff !important;
    padding: 6px;
}

.site-title-heading a {
    padding: 6px;
    background-color: #333 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.site-title {
    margin: 0 !important;
}

.navbar {
    border: none;
    margin-bottom: 0;
    min-height: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.navbar-inverse {
    background-image: none;
    border: medium none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#mpufront.affix {
    position: fixed;
    top: 50px;
}

.top100 {
    top: -100px !important;
}

.navbar li {
    font-size: 11px;
}

.navbar-fixed-top {}

a {
    color: #555;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #555
}

.post-content a {
    color: #003891
}

.entry-title a {}

.background-category .yellow-item .entry-title a {
    font-size: 110%;
}


/* chromeframe error */

.chromeframe {
    background: #a00;
    color: #faa;
    display: block;
    padding: 3px 0;
    text-align: center;
}

.chromeframe a {
    color: #fff;
    text-decoration: underline;
}

.page-header-top-right {
    margin-top: 10px;
}

.pagination {
    margin: 0;
}

.pagination-center {
    text-align: center;
}

.pagination-row {
    margin-bottom: 20px;
}

.required {
    color: #f00;
}

.row-with-vspace {
    /*margin-bottom: 20px;*/
}

.site-main .format-aside {
    background: #f5f5f5;
}

.site-main .format-image {
    background: url('../img/content-post-format-image.png') left top no-repeat;
}

.site-main .format-link {
    background: url('../img/content-post-format-link.png') left top no-repeat;
}

.site-main .format-quote {
    background: url('../img/content-post-format-quote.png') left top no-repeat;
}

.site-main .format-video {
    background: url('../img/content-post-format-video.png') left top no-repeat;
}

.site-main {
    /*margin-top: -20px;*/
    margin-bottom: 32px;
}

.margin32 {
    margin: 32px;
}

.site-title {
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 8px;
}

.site-title>a {
    text-decoration: none;
}

.site-title>div {
    height: auto;
    line-height: 18px;
}

.site-title .site-description {
    color: #999;
    font-size: 16px;
}

.site-title .site-title-heading {
    margin: 0;
}

.widget_calendar #wp-calendar {
    margin: 0;
}

.widget_calendar #wp-calendar #next {
    text-align: right;
}

#comments .comment-navigation {
    margin-bottom: 0;
}

#comments .comment-navigation-below {
    margin-bottom: 20px;
    margin-top: 15px;
}

#comments .media-list li .media {
    margin-top: 15px;
}

#comments .media-list li .media .media-body {
    border: 1px solid #eee;
    padding: 10px;
}

#comments .media-list li .media .media-body .comment-author {
    font-size: 12px;
    margin-bottom: 10px;
}

#comments .media-list ul.children {
    list-style: none;
    margin-left: 2.5em;
}

img:hover {
    opacity: 0.7;
}

#main-column img,
#main-column .wp-video-shortcode {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

#main-column .attachment .entry-content {
    margin-bottom: 20px;
}

#main-column .attachment .entry-content .attachment {
    text-align: center;
}

#main-column .attachment .entry-meta {
    margin-bottom: 20px;
}

#main-column .post,
#main-column .page {}

#main-column .post .entry-header .entry-meta {
    color: #999;
    text-align: center;
}

#main-column .post .entry-header .entry-meta a {
    color: inherit;
}

#main-column .post .entry-header .entry-meta .posted-on .updated {
    display: inline;
}

#main-column .post .entry-meta .categories-icon {
    cursor: default;
}

#main-column .post .entry-meta .comments-link a {
    color: #333;
}

#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
    color: #003891;
    font-size: 12px;
    margin-left: 5px;
}

#main-column .attachment .edit-post-link a,
#main-column .attachment .entry-meta .edit-post-link a,
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
    color: #333;
}

#main-column .post .entry-meta .tags-icon {
    cursor: default;
}

#main-column .attachment .entry-title,
#main-column .post .entry-title,
#main-column .page .entry-title {
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.line-height-12 {
    line-height: 90%;
}

#sidebar-left .widget,
#sidebar-right .widget {
    border: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
}

#sidebar-left .widget ul,
#sidebar-right .widget ul {
    padding-left: 20px;
}

#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
    font-size: 12px;
    margin-top: 0;
}

footer {
    position: relative;
}

footer h4 {
    font-size: 75%;
    color: #f1c40f;
}

footer .site-branding {
    height: 40px;
}

footer .navbar-nav>li>a {
    background-color: #000;
    line-height: 50px;
    padding-top: 4px;
    z-index: 100;
}

.footer-col a {
    font-size: 75%;
    color: #fff !important;
    text-decoration: none;
}

#footer-col a:hover {
    font-weight: bold;
}

#site-footer {
    z-index: 100;
    font-family: 'Noto Sans', sans-serif;
}

.cookie-notice-container a {
    color: #ffffff;
}

.cookie-notice-container a:hover {
    color: #dddddd;
}

#content_col1 .widget,
#content_col2 .widget,
#content_col3 .widget {
    border: 1px solid #eee;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 2px;
}

#content_col1 .widget ul,
#content_col2 .widget ul,
#content_col3 .widget ul {
    padding-left: 2px;
}

#content_col1 .widget .widget-title,
#content_col2 .widget .widget-title,
#content_col3 .widget .widget-title {
    font-size: 8px;
    margin-top: 0;
}

.margin-20 {
    margin: 20px 0;
}

.padding-une {
    padding-top: 46px;
}

#single .identity {
    margin-bottom: 24px;
}

.identity {
    font-size: 14px;
}

.identity>img {
    border-radius: 50%;
    float: left;
}

.identity>span>img {
    border-radius: 50%;
}

.identity-front {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.identity-front>img {
    border-radius: 50% !important;
}

.identity-front span img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.row {
    margin-left: -6px;
    margin-right: 0;
}

.main-navigation-single {
    border-bottom: solid 2px #eee;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.main-navigation {
    /*margin: 22px 0 0 0;*/
    font-size: 1em;
    font-weight: bold;
}

.site-branding {
    background-color: #000;
    color: #fff;
    padding: 0px 6px 0 6px;
    height: 52px;
}

.site-branding .dropdown-menu {
    background-color: #ddd !important;
    font-size: 18px;
    border-radius: 1px;
    float: left;
    left: 0;
    list-style: outside none none;
    width: 214px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

.site-branding .dropdown-menu a {
    color: #333 !important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #eee !important;
    background-image: none !important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #eee !important;
    color: #999 !important;
    font-weight: bold;
}

.menu-drop-down {
    top: 100%;
}

.menu-drop-down .dropdown-menu {
    margin: 20px 0 0 0px;
}

.menu-drop-up {
    bottom: 100%;
}

.menu-drop-up .dropdown-menu {
    bottom: 100%;
    margin: 5px 0 4px -8px;
}

.site-branding .dropdown-menu>li>a {
    clear: both;
    color: #fff;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    font-size: 14px;
}

.dropdown-menu>li>a {
    clear: both;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    font-size: 14px;
}


/*.site-branding .dropdown-menu > li > a:hover,
.site-branding .dropdown-menu > li > a:focus {
  color: #777 !important;
  text-decoration: none;
  background-color: transparent !important;
  font-weight: bold;
  background-image: none !important;
   box-shadow: none;
}*/

.site-branding ul {
    margin-bottom: 0;
    margin-top: 0;
}

.site-branding-footer {
    background-color: #000;
    color: #fff;
    padding: 6px;
}

.site-branding-single .dropdown-menu {
    /* background-color: #fff !important;
    font-size: 20px;
    border-radius: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;*/
}

.site-branding-single .dropdown-menu>li>a {
    /* clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;*/
}

.site-branding-single .dropdown-menu>li>a:hover {
    /*background-color: #000;
    color: #fff !important;
    background-image: none !important;*/
}

.site-branding-single ul {
    /* margin-bottom: 0;
    margin-top: 0;*/
}

.menu-side {
    /*  background-color: #eee;
    margin-bottom: -9999px;
    margin-left: 0;
    margin-top: -8px;
    min-height: 650px;
    padding-bottom: 9999px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 1;*/
}

.category-menu {
    /* background-color: #fff;
    background-image: url("../img/bouton_black.gif");
    background-repeat: no-repeat;
    height: 50px;
    list-style: outside none none;
    width: 51px;*/
}

.category-menu-btn-home {
    background-color: #fff;
    background-image: url("../img/forbesfrance.jpg");
    background-repeat: no-repeat;
    height: 50px;
    list-style: outside none none;
    width: 50px;
}

.category-hometop {
    /*background-image: url("http://i.forbesimg.com/assets/img/forbes_logo/forbes_logo_white.svg");*/
    background-image: url("../img/forbes_logo_white.svg");
    background-repeat: no-repeat;
    /*background-size: 157px auto;*/
    display: flex;
    height: 42px;
    left: 3px;
    list-style: outside none none;
    /*width: 152px;*/
    z-index: 10000;
    margin-left: -12px;
    margin-top: 9px;
}

.category-hometop:hover {
    /*padding-bottom: 4px;*/
}

.logo-mobile {
    /*background-image: url("http://i.forbesimg.com/assets/img/forbes_logo/forbes_logo_white.svg");*/
    background-image: url("../img/forbes_logo_white.svg");
    background-repeat: no-repeat;
    background-size: 134px auto;
    display: flex;
    height: 42px;
    left: 3px;
    list-style: outside none none;
    /*width: 152px;*/
    z-index: 10000;
    margin-left: 22px;
    margin-top: 4px;
}

.yellow {
    background-color: #f1c40f;
    text-decoration: none;
}

.yellow-item a {
    color: #f1c40f !important;
}

.yellow-item {
    color: #f1c40f !important;
}

.yellow-menu-item a {
    color: #f1c40f !important;
}

.yellow-border {
    border-bottom: 4px solid #f1c40f;
}

.yellow-border:hover {
    /* padding: 0 10px;
    margin-left: -10px;*/
    color: #000 !important;
}


/*.menu-item-under-30-2019 a {
    color: #d00436 !important;
}
*/

.margin-fa {
    padding-top: 10px;
    vertical-align: middle;
}

#main h2 span,
#main h3 span {
    color: #444;
    font-family: 'Noto Sans', sans-serif;
}

#featured h2 span:hover,
#toplists h2 span:hover,
.category li.filariane:hover {
    color: #000 !important;
}

#toplists h2 {
    margin-top: -5px;
}

.black-back {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
}

#mycarousel .container {
    padding: 0;
}

.carousel-caption {
    left: 100%;
    padding-bottom: 30px;
    right: 100%;
}

.carousel-caption {
    bottom: 0px;
    color: #fff;
    left: 0;
    padding-bottom: 30px;
    padding-top: 20px;
    position: absolute;
    right: 0%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
    padding-left: 10px;
}

.carousel-caption a {
    color: #fff !important;
    font-size: 140%;
    text-decoration: none;
}

.panel-body {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    font-size: 70%;
}

.panel-default-overlay-up {
    height: auto !important;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: absolute;
    top: 100%;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.panel-default-overlay-down,
.panel-default-overlay-up,
.panel-default-overlay-left {
    background-color: #222 !important;
    color: #fff !important;
    left: 0;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    opacity: 0.9;
    z-index: 100 !important;
    max-height: 350px !important;
}

.panel-default-overlay-down a,
.panel-default-overlay-up a,
.panel-default-overlay-left a {
    color: #fff;
    font-weight: normal;
    font-size: 1.1em;
}

.panel-default-overlay-down a:hover,
.panel-default-overlay-up a:hover,
.panel-default-overlay-left a:hover {
    color: #f1c40f;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration: none;
}

.panel-default-overlay-up {
    background-color: #222 !important;
    color: #fff !important;
    height: 100%;
    left: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: absolute;
    top: 100%;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.no-shadow {
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar li {
    list-style: none;
    z-index: 100;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    /*margin-top: 24px;*/
    vertical-align: middle;
}

.top-space {
    margin-top: 20px;
}

.border-bottom {
    border-bottom: solid 1px #ddd !important;
    margin-top: -20px;
}

.border-bottom-red {
    border-bottom: 3px solid #34495e;
    margin-top: -20px;
}

.filariane a {
    font-size: 40px;
    color: #777 !important;
}

.filariane a:hover,
.filariane:hover {
    font-size: 40px;
    color: #333 !important;
    text-decoration: none;
}

.filariane {
    color: #777;
    font-size: 2em;
    vertical-align: middle;
}

.mobile-font-size .filariane a,
.mobile-font-size .filarianebm a {
    font-size: 20px;
    color: #000 !important;
}

.the_champ_vertical_counter,
.the_champ_vertical_sharing {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    box-sizing: content-box !important;
    display: block;
    opacity: 1;
    overflow: visible;
    padding: 10px;
    position: fixed;
    z-index: 100 !important;
}

.the_champ_horizontal_sharing {
    display: inline-flex;
    vertical-align: middle;
}

.comments-area {
    font-size: 1.4rem;
}

.content-links {
    font-size: 1.6rem;
    color: #34495e;
    margin-top: 18px;
}

.glyphicon {
    display: inline-flex;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

.border-top {
    border-top: 4px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

.border-top-thin {
    border-top: 2px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 0;
}

.border-left-thin {
    border-left: 2px solid #eee;
}

.vcard {
    color: #222;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}

.caret-menu {
    color: white;
    font-size: 0.7em;
    text-align: center;
    /*vertical-align: bottom;margin-top: -32px;*/
    padding-top: 18px;
    /*vertical-align: top;*/
    /*width: 90px;*/
    margin-left: 4px;
    z-index: 1000;
}

.title-li {
    margin: 20px 0;
}

.title-li h2 {
    margin: 0 0 10px 0;
}

.front-col {
    margin-top: 34px;
}

.dark {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.caption {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
}

.caption-float {
    position: relative;
    z-index: 100;
    font-size: 2em;
}

.caption-float a:hover {
    text-decoration: none;
}

.caption-float-prev {
    left: 2%;
    position: absolute;
    top: 20%;
}

.caption-float-next {
    position: absolute;
    right: 2%;
}

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    background: none !important;
    color: #fff !important;
    text-decoration: none;
}

.menu-top-mobile {
    display: inline-flex;
    float: left;
    width: 30%;
}

.ngg-breadcrumbs {
    display: none;
}

.ngg-album-compactbox {
    border: none !important;
    margin: 0 !important;
    padding: 8px !important;
    position: relative;
    z-index: 1;
}

.ngg-album-compactbox::before {
    display: none;
    border-bottom: none !important;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.ngg-album-compactbox::after {
    border-bottom: none !important;
    border-radius: 6px;
    bottom: -4px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.ngg-album-gallery-image-counter {
    display: none;
}

.ngg-thumbnail img:hover {
    background-color: #337ab7 !important;
}

.ngg-album-compact h4 {
    font-size: 12px !important;
    font-weight: normal;
    margin: 10px 0 0;
}

.ngg-album-compact h4 .ngg-album-desc {
    display: block;
    height: 28px !important;
}

.ngg-album-compact-home h4 {
    display: block;
    height: 50px !important;
    font-size: 125% !important;
    text-align: left;
}

.ngg-imagebrowser-nav .back {
    border: none !important;
    float: left;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
}

.ngg-imagebrowser-nav .next {
    border: none !important;
    float: right;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
}

.ngg-imagebrowser-desc {
    clear: both;
    padding-top: 20px;
}

.ngg-imagebrowser-desc {
    font-size: 0.8em !important;
}

.ngg-imagebrowser-nav a {
    font-size: 80%;
}

.ngg-imagebrowser .pic {
    border: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
}

.content-area {
    background-color: #ffffff;
}

.nav>li>a {
    display: block;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    position: relative;
}

.navbar-inverse {
    background-color: #000;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #000;
    color: #fff;
    border-top: solid 2px #fff;
}

.navbar-nav>li>a {
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-nav>li>a {
    background-color: #000;
    line-height: 50px;
    padding-top: 4px;
    z-index: 100;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    z-index: 100 !important;
    background-color: #000 !important;
    border-top: solid 2px #fff;
    padding-top: 2px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a {
    background-image: none;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
}

.navbar .navbar-nav .open .dropdown-menu>.active>a,
.navbar .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar .navbar-nav .open .dropdown-menu>.active>a:hover {
    background: rgba(246, 246, 246, 1) !important;
    color: #fff;
}

.navbar-nav>li>.clubhover:hover,
.navbar-nav>li>.clubhover:focus {
    border-top: 2px solid #f1c40f !important;
    padding-top: 2px;
}

.category-hometop:hover {
    border-top: 0px;
}

.navbar-form {
    border: 0 none;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: -8px;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}

.metaslider.ms-theme-blend .flexslider ul.slides .caption-wrap .caption,
.metaslider.ms-theme-blend .rslides .caption-wrap .caption,
.metaslider.ms-theme-blend .nivoSlider .nivo-caption {
    font-size: 1.8rem !important;
}

#site-footer {
    background-color: #000 !important;
    color: #fff;
    font-size: 0.8em;
}

#site-footer h1,
#site-footer h2,
#site-footer h3 {
    font-size: 90%;
    margin-top: 0;
}

#site-footer .border-bottom {
    border-bottom: 1px solid #777;
    margin-bottom: 14px;
}

.footer-left,
.footer-center,
.footer-right {
    background-color: #000;
}

.footer-left,
.footer-center {
    border-right: 1px solid #666;
}

.footer-center {}

.footer-left a,
.footer-right a,
footer-center a {
    color: #fff;
    font-size: 0.8em;
}

.footer-col {
    margin: 0 auto;
}

.tagcloud a {
    color: #ffffff !important;
}

.gradient-grey {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #4d4d4d, #333) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0)-webkit-linear-gradient(center top, #4d4d4d, #333) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(center top, #4d4d4d, #333) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(center top, #4d4d4d, #333) repeat scroll 0 0;
}

.gradient-grey a:hover,
.footer-left a:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    box-shadow: 3px 3px 7px #1f262e inset;
}

.gradient-grey-hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) linear-gradient(center top, #1f262e, #36404e) repeat scroll 0 0 !important;
    box-shadow: 3px 3px 7px #1f262e inset;
}


/*.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(center top , #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) -o-linear-gradient(center top , #1f262e, #36404e) repeat scroll 0 0 !important;
    background: rgba(0, 0, 0, 0) linear-gradient(center top , #1f262e, #36404e) repeat scroll 0 0 !important;
    box-shadow: 3px 3px 7px #1f262e inset;
}*/

.grey {
    background-color: #000;
    z-index: 100;
    /*height: 62px;*/
}

.site-branding .navbar-inverse .navbar-nav>.active>a,
.site-branding .navbar-inverse .navbar-nav>.active>a:hover,
.site-branding .navbar-inverse .navbar-nav>.active>a:focus {
    border-top: 2px solid #fff;
    line-height: 46px !important;
}

#menu-footer-categories>.active>a:hover,
#menu-footer-categories>.active>a {
    border-top: none !important;
    /*color: #f1c40f !important;*/
}

.yellow-menu-item a:hover,
.yellow-menu-item a:focus {
    border-top: 2px solid #f1c40f !important;
}

.caret {
    /* border-left: 4px solid transparent;
    border-right: 4px solid transparent; */
    border-top: 4px dashed;
    color: #fff;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    width: 10px;
}

.bordered {
    border-left: 1px solid #fff;
    float: right;
    height: 56px;
    opacity: 0.2;
}

.sub-menu .bordered {
    height: auto;
}

.footer-left a {
    color: #fff;
    font-size: 0.8em;
}

.ngg-home .ngg-album {}

#cookie-notice .button.bootstrap {
    background-color: #bbb;
    background-image: linear-gradient(to bottom, #777, #bbb);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: 0.3em;
    outline: medium none;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

#cookie-notice .button.bootstrap:hover,
#cookie-notice .button.bootstrap:focus {
    background-color: #bbb;
    background-image: linear-gradient(to bottom, #999, #bbb);
}

#nav-single {
    position: absolute;
}

#nav-single .dropdown-toggle {
    padding-top: 20px;
}

#nav-single.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav-single .icon-bar {
    background-color: #fff;
}

#nav-single .icon-bar {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    color: #fff;
    margin-top: 4px;
}

#nav-single .caret {
    display: none;
}

#nav {
    height: inherit;
}

.background-category {
    background-color: #000;
    padding: 0 20px 20px 20px;
}

.background-category a {
    color: #fff;
}

.border-category {
    border-top: 3px solid #888;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 26px;
}

.border-bottom-category {
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
}

#category-classements {
    margin-top: 10px;
}

#category-classements li h4 {
    font-size: 72% !important;
}

.cube .carousel-caption {
    bottom: 0;
    color: #fff;
    /*left: 33%;*/
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 43%;
    z-index: 1;
    font-size: 1.5em;
}

.cube .list-unstyled {
    padding-left: 6px;
    padding-top: 20px;
}

.cube a {
    /* font-size: 1.2em;
    color: #fff; */
}

.cube a:hover {
    /* font-size: 1.2em;
    color: #fff;
    font-weight: bold;*/
}

.cube img:hover {
    opacity: 1;
}

.black-bkg {
    background-color: #000;
    display: inline-block;
    width: 100%;
}

.black-bkg .entry-title {
    margin: 0 !important;
    line-height: 1.2;
}

.bkg-classement {
    height: auto;
    width: auto;
}

#category-classements .black-bkg {
    background-color: #000;
    display: block;
}

#category-main li h4 {
    font-size: 80% !important;
    line-height: 1.4;
}

#category-main h2 {
    font-size: 1.6em;
    font-family: 'Georgia', serif;
}

.now {
    text-align: left;
}

.now h2 {
    font-size: 96%;
    font-weight: bold;
    padding-bottom: 4px !important;
    margin-top: 0;
    font-family: 'Georgia', serif;
}

.now p {
    font-size: 78%;
}

.posted-on {
    font-size: 60%;
    font-style: italic;
}

#brandvoice p {
    font-size: 80%;
}

#brandvoice h2 {
    color: #34495e;
}

.load-more {
    text-align: center;
    background: url("../img/ajax-loader.gif") no-repeat;
    display: inline-block;
    width: 128px;
    height: 15px;
}

.aload-more {
    text-align: center;
    /*background: url("../img/ajax-loader.gif") no-repeat;*/
    /*display: inline-block;*/
    width: auto;
}

.youtube-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#mainmenu .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555 !important;
    display: block;
    font-size: 12px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #fff !important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    margin-right: 6px;
    margin-top: 14px;
}

#mainmenu ul {
    /*background-color: #333;*/
    font-size: 0.9em;
}

#mainmenu {
    /*background-color: #333;*/
}

.form-group {
    margin-bottom: 25px;
}

input,
textarea,
select {
    /*background-color: #333 !important;*/
    /*color: #fff !important;*/
}

.btn-primary,
.button-primary {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    background-repeat: repeat-x;
    background-color: #ddd;
    border-radius: 4px;
    padding: 8px 20px;
    color: #fff;
}

.btn-primary:hover,
.button-primary:hover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    background-repeat: repeat-x;
    background-color: #ddd;
    border-radius: 4px;
    color: #fff;
    padding: 8px 20px;
}

.help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 60%;
}

.smessage {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    background-color: #FFF;
    color: #000;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    border: 8px solid #f1c40f;
    box-shadow: 2px 2px 2px #444;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 60%;
    color: #555;
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
    max-height: 380px;
    width: 100% !important;
}

.plus {
    background-image: url("img/plus.png") !important;
    height: 100px !important;
    margin-top: 80px;
    position: relative;
    left: 50%;
}

.no-more-post {
    font-size: 80%;
    margin-top: 80px;
    position: relative;
}

.li-profile-container {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ededed;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 2px;
    display: block;
    font-size: 13px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 337px;
}


/* Infinite Scroll */

.load-more-manual #page-nav {
    display: block !important;
}

#page-nav {
    display: none;
    text-align: center;
}

.load-more-manual #page-nav a {
    margin: 20px auto 10px auto;
    display: inline-block;
    width: auto;
}

.load-more-manual #page-nav a {
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    position: relative;
    transition-duration: 150ms;
    text-decoration: none;
}

#infscr-loading {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 50%;
    bottom: 40px;
    width: 200px;
    margin-left: -100px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.more {
    width: 300px;
}

.border-red {
    border-bottom: 3px solid #990000;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.border-blue {
    border-bottom: 3px solid #2980b9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.width250 {
    height: 300px !important;
    opacity: 1;
    overflow: hidden !important;
    width: 250px !important;
}

.comment-total {
    padding: 0 8px;
    font-size: 100%;
}

.btn-simple {
    background: none;
    border: none;
}

#social .list-inline>li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

#social span {
    font-size: 100%;
    padding: 10px 16px 0 0;
    color: #555;
}

#social_fa i {
    color: #fff;
}

.author-social {
    padding: 14px 0 0 10px;
    vertical-align: middle;
}

.linkedin .author-social:hover {
    color: #0077B5;
}

.pinterest .author-social:hover {
    color: #CC2329;
}

.twitter .author-social:hover {
    color: #55ACEE;
}

.instagram .author-social:hover {
    color: #0077B5;
}

.facebook .author-social:hover {
    color: #3C589A;
}

figcaption {
    font-size: 74%;
}

.alaune {
    font-size: 86%;
}

h1.alaune {
    margin: 0;
    line-height: 1.2;
}

.submenu {
    margin-bottom: 0px;
}

.submenu a {
    font-size: 1.1em;
}

.form-small {
    color: #555;
    display: inline-block;
    font-size: 60%;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}

.mpuabsolute {
    margin-top: -16px;
    right: 20px;
    margin-right: 25px;
    position: absolute;
}


/* PRE HOME */

#pre-home-container.displayed {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#pre-home {
    padding: 50px 0 0 20px;
    border: solid 2px #ffffff;
    font-family: 'Georgia', serif;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.7);
    /*position: absolute; */
    /*z-index:10000;*/
}

#pre-home h1 {
    color: #fff;
}

#continue {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
}

#continue a {
    font-size: 34px;
    color: #fff !important;
}

#decount {
    font-size: 34px;
    color: #fff !important;
}

.prehome-citation {
    height: 550px;
    width: 550px;
    box-shadow: 0px 0px 70px 5px #ffffff;
    border-radius: 50%;
    font-size: 30px !important;
    color: #ffffff;
    padding: 70px 60px;
    background: transparent;
}

.fblike {
    font-size: 80%;
    padding-bottom: 30px
}

.invit {
    background-color: #000000;
    color: #ffffff;
    margin-top: 12px;
    padding: 14px;
}

.invit img {
    /* -moz-box-shadow: 4px 4px 0px 0px #bbb;
    -webkit-box-shadow: 4px 4px 0px 0px #bbb;
    -o-box-shadow: 4px 4px 0px 0px #bbb;
    box-shadow: 4px 4px 0px 0px #bbb;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=134, Strength=1);
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;*/
}

.invit h2 {
    color: #ffffff;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.invit-mobile-margin-bottom {
    margin-bottom: 0px;
}

.invit-margin-bottom {
    margin-bottom: 14px;
}

.bloc-abo-gris {
    background-color: #616161;
    color: #ffffff;
    padding: 20px 0;
}

.invit li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #2980b9;
    padding-right: 6px;
}

.lt_bloc {
    height: 350px;
}


/*  //////////////////////////////////////    Mobile  ////////////////////////////////////   */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .mpuabsolute {
        position: relative !important;
    }
}

@media(max-width:767px) {
    h1 {
        font-size: 1.2em;
    }
}

@media(min-width:768px) {
    h1 {
        font-size: 1.2em;
    }
}

@media(min-width:992px) {
    h1 {
        font-size: 2.6em;
    }
}

@media(min-width:1200px) {
    h1 {
        font-size: 2.6em;
    }
}

@media(max-width:767px) {
    p,
    li {
        font-size: 76%;
    }
}

@media(min-width:768px) {
    p,
    li {
        font-size: 76%;
    }
}

@media(min-width:992px) {
    p,
    li {
        font-size: 76%;
    }
}

@media(min-width:1200px) {
    p,
    li {
        font-size: 1em;
    }
}

@media(max-width:767px) {
    .category-hometop {
        background-size: 93px auto;
        width: 93px;
    }
}

@media(min-width:768px) {
    .category-hometop {
        background-size: 93px auto;
        width: 93px;
    }
}


/*@media(min-width:992px){.category-hometop {background-size: 140px auto; width: 140px;}}*/


/*@media(min-width:1200px){.category-hometop {background-size: 161px auto; width: 164px;}}*/

@media(max-width:992px) {
    .righttoleft {
        float: left;
    }
}

@media(min-width:768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 2px;
        padding-right: 2px;
    }
    .mediasfrance .container {
        /*width: 740px !important;*/
    }
    .navbar-collapse {
        padding-top: 0px !important;
        padding-right: 38px !important;
    }
    .navbar-collapse form[role="search"] {
        width: 38px;
    }
    .navbar-collapse form[role="search"] button,
    .navbar-collapse form[role="search"] input {
        padding: 15px 12px;
    }
    .navbar-collapse form[role="search"] input {
        font-size: 18pt;
        opacity: 0;
        display: none;
        height: 50px;
    }
    .navbar-collapse form[role="search"].active {
        width: 100%;
    }
    .navbar-collapse form[role="search"].active button,
    .navbar-collapse form[role="search"].active input {
        display: table-cell;
        opacity: 1;
    }
    .navbar-collapse form[role="search"].active input {
        width: 100%;
    }
    .mpuabsolute {
        position: relative !important;
    }
}

.navbar-collapse form[role="search"] {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    color: rgb(119, 119, 119);
    background-color: rgb(248, 248, 248);
    border-color: rgb(231, 231, 231);
    box-shadow: none;
    outline: none;
}

.navbar-collapse form[role="search"] input {
    padding: 16px 12px;
    font-size: 14pt;
    font-style: italic;
    color: rgb(160, 160, 160);
    box-shadow: none;
}

.navbar-collapse form[role="search"] button[type="reset"] {
    display: none;
}

.mediafrance-box {
    font-family: 'Cooper Hewitt Book' !important;
    background-color: #f3f3f3;
    line-height: 2;
    box-shadow: 3px 3px 0px 0px #ccc;
}

.mediafrance-box h3 {
    font-family: 'Cooper Hewitt Book' !important;
    font-weight: bold;
    font-size: 1.4em;
    border-left: 8px solid #f1c40f;
    padding: 10px 0 10px 14px;
    border-bottom: 1px solid #ccc;
}

.mediafrance-box li {
    font-weight: normal;
    font-size: 1em;
    padding: 10px 0 10px 14px;
    /*border-bottom: 1px solid #ccc;*/
}

.mediafrance-slider h3 {
    font-family: 'Helvetica', sans-serif;
}

.margin-mf-20 {
    margin-bottom: 20px;
}

.mediasfrance {}

.mediasfrance a {
    text-decoration: none;
}

.mediasfrance h3 {
    font-size: 1em;
    margin: 8px;
    padding: 0 35px;
}

.mf_caption_home {
    /*left: 5%; */
    color: #ffffff;
    font-size: 0.8em;
    /*width: 240px; */
    padding: 0 4px;
}

.mf_caption_LT_home {
    left: 7%;
    color: #ffffff;
    font-size: 0.8em;
    width: 80%;
    margin: 0 auto;
}

.ad-right {}


/* MOBILE RESOLUTION */

@media(max-width:767px) {
    table {
        font-size: 0.56em;
    }
    .righttoleft {
        float: left;
    }
    .padding-bottom-30 {
        padding: 30px;
        height: 162px;
    }
    .thumb-col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .ad-right {}
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 2px;
        padding-right: 2px;
    }
    .youtube-video {
        margin-bottom: 16px;
    }
    .border-bottom {
        border-bottom: solid 1px #ddd !important;
        margin-top: -50px;
    }
    .fblike {
        font-size: 70%;
        padding-bottom: 10px;
    }
    .prehome-citation {
        height: 300px;
        width: 300px;
        box-shadow: 3px 3px 3px #777;
        border-radius: 50%;
        font-size: 18px !important;
        /*padding: 40px 40px; */
    }
    #continue a {
        font-size: 22px;
        color: #fff !important;
    }
    #croix {
        color: #000000;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 37px;
        height: 40px;
        width: 40px;
        opacity: 1;
    }
    h3,
    .h3 {
        font-size: 1em;
    }
    h2,
    .h2 {
        font-size: 22px;
    }
    #random_posts h4,
    #asuivre h4,
    #related h4,
    #pluslus h4 {
        font-size: 0.6em;
    }
    #mycarousel h4 {
        font-size: 1.5em;
        line-height: 1.4;
    }
    .black-bkg #mycarousel h4 {
        font-size: 1.5em;
        line-height: 0.8;
    }
    small,
    .small {
        font-size: 80%;
    }
    p {
        font-size: 78%;
    }
    .table p {
        font-size: 0.6em;
    }
    .submenu {
        margin-bottom: 30px;
    }
    .submenu a {
        font-size: 1.1em;
        margin-bottom: 0px;
    }
    .carousel-inner {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        width: 100%;
        padding: 10px 0 10px 10px;
    }
    #mycarousel .carousel-caption a {
        color: #fff !important;
        font-size: 50%;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;
    }
    #category-main h2 {
        font-size: 1.1em;
    }
    .carousel-caption a {
        color: #fff !important;
        font-size: 90%;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: none;
        text-decoration-style: solid;
    }
    .black-back {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
        background-origin: padding-box;
        background-position-x: 0;
        background-position-y: 0;
        background-repeat: repeat;
        background-size: auto auto;
    }
    .carousel-caption {
        padding-bottom: 10px;
    }
    .padding-une {
        padding: 0;
    }
    .alaune {
        font-size: 1.2em;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .collapse.in {
        display: block !important;
    }
    .border-bottom-none {
        /*min-height: 365px;*/
    }
    #featured h3 {
        font-size: 1.1em;
    }
    .identity-front {
        font-size: 9px;
    }
    .vcard {
        font-size: 110% !important;
    }
    .bkg-classement {
        height: auto;
    }
    .cube .carousel-caption {
        bottom: 0;
        color: #fff;
        font-size: 1.1em;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        top: 28%;
        z-index: 1;
    }
    small,
    .small {
        font-size: 100%;
    }
    #breadcrumb {
        margin-top: 0 !important;
    }
    .filariane a {
        font-size: 1.1em;
    }
    .filariane a:hover,
    .filariane:hover {
        font-size: 1.1em;
        color: #333 !important;
        text-decoration: none;
    }
    .filariane {
        color: #777;
        font-size: 1em;
        vertical-align: middle;
    }
    .margin32 {
        margin: 2px;
    }
    .category-hometop::before {
        content: "CatÃ©gories ";
    }
    .category-hometop {
        width: 140px;
    }
    .category-hometop {
        background-image: none ! important;
        background-repeat: no-repeat;
        /* display: flex; */
        height: 42px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-left: -12px;
        z-index: 10000;
    }
    .alaune .vcard {
        font-size: 1em;
    }
    #toplists h2 {
        margin-top: 20px;
    }
    .ngg-imagebrowser-nav .counter {
        font-size: 0.7em !important;
        text-align: center;
    }
    .mpuabsolute {
        margin-top: -16px;
        right: 0px;
        margin-right: 25px;
        position: relative;
    }
    #adright .affix {
        position: relative;
        margin-left: -14px;
        margin-top: 38px;
    }
    .invit-mobile-margin-bottom {
        margin-bottom: 18px !important;
    }
    .mediasfrance h3 {
        font-size: 0.8em;
        line-height: 1.2;
    }
    .margin-mf-20 {
        margin-bottom: 20px;
        height: 220px;
    }
    .mf_caption_home {
        color: #ffffff;
        font-size: 0.4em;
        width: 90%;
        padding: 0 4px;
        top: 10%;
    }
    .mf_caption_LT_home {
        left: 15%;
        color: #ffffff;
        font-size: 0.6em;
        top: 7%;
        width: 67%;
        text-align: center;
    }
}

@media(min-width:992px) {
    #mainmenu .form-control {
        width: 100%;
    }
    table {
        font-size: 1em;
    }
    .prehome-citation {
        height: 550px !important;
        width: 550px !important;
        border-radius: 50%;
        font-size: 30px !important;
        color: #ffffff;
        background: transparent;
        border: solid 2px #eeeeee;
    }
    .ad-right.affix {
        top: 48px;
    }
    .ad-right.affix-top {}
    .ad-right.affix-bottom {
        position: fixed;
        bottom: 350px;
    }
    .mpuabsolute {
        position: absolute !important;
    }
}


/* End mobile */

@media(min-width:1200px) {
    #mainmenu .form-control {
        width: 100%;
    }
}

@media(min-width:992px) {
    .border-bottom-none {
        min-height: 250px;
    }
}

@media(min-width:1200px) {
    .border-bottom-none {
        min-height: 250px;
    }
}

.content-us>.table>tbody>tr>td {
    border-top: none !important;
}

.freebirdFormviewerViewNavigationSubmitButton {
    background-color: #f1c40f !important;
}